/* -- -- -- -- -- -- -- -- -- Responsive -- -- -- -- -- -- -- -- -- -- -- --*/

@media (min-width: 992px){
	.header .menu{
		display: flex!important;
		opacity: 1!important;
	}

	.header .menu li{
		opacity: 1!important;
	}
}

@media (max-width: 991px){
	.header .menu{
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(189, 18, 38, .8);
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.header .menu li a{
		font-size: 54px;
	}

	.header .burger{
		display: block;
        width: 44px;
	    height: 44px;
	    background-color: transparent;
	    border: 0;
	    position: relative;
	    z-index: 10;
	    transition: all .4s ease;
	}

	.header .burger span{
		margin: 8px 0;
	}

	.header .burger span,
	.header .burger::before,
	.header .burger::after{
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
        color: #fff;
		transition: all .4s ease;
	}

	.header .burger::before,
	.header .burger::after{
		content: "";
	}

	.header .active span{
		display: none;
	}

	.header .active::before,
	.header .active::after{
		position: absolute;
		left: 0;
	}

	.header .active{
		transform: rotate(45deg);
	}

	.header .active::after{
		transform: rotate(-90deg);
	}

	.hero::before{
		display: none;
	}

	.hero::after{
		width: 100%;
	}

	.hero .swiper .box-slide .texts h2{
		color: #fff;
	}

	.hero .swiper .box-slide .price,
	.hero .swiper .box-slide .texts p{
		display: none;
	}

    .about::before{
        width: 100%;
        background-color: rgba(139, 69, 19, .7);
        z-index: 2;
    }

    .about::after{
        width: 100%;
    }

    .contact form{
        margin-bottom: 30px;
    }
}


@media (max-width: 767.98px){
    .hero .container{
        max-width: 100%;
    }

    .hero .swiper .box-slide{
        flex-direction: column;
        padding-top: 40px;
    }

    .hero .swiper .box-slide .texts{
        width: 100%;
        margin: 0;
        padding: 0;
        order: 1;
    }

    .hero .swiper .box-slide .img-slide{
        width: 60%;
        order: 0;
    }

    .hero .swiper .box-slide .texts h2{
        margin: 0;
        font-size: 28px;
        text-align: center;
    }

    .hero .swiper .controls-slide{
        bottom: inherit;
        top: 50%;
        transform: translate(0%);
        justify-content: space-between;
        z-index: 10;
    }

    .hero .swiper .swiper-button-prev,
    .hero .swiper .swiper-button-next{
        margin: 0;
        left: 0;
        right: 0;
        width: 34px;
        height: 34px;
    }
}

@media (max-width: 575.98px){
    .hero .swiper .box-slide .img-slide{
        width: 75%;
        order: 0;
    }

    .recipe header{
        height: 300px;
    }

    .recipe header title{
        font-size: 34px;
        margin: 0;
    }
}